body > #root> .updater-content {
    height: 100vh;
  }
#swal2-title,#swal2-content {
    color:  var(--text-theme) ;
} 
.updater-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:  "Open Sans", sans-serif;
    background-color: var(--bg-theme);
}
.updater-content h2 {
    color: var(--text-theme);
    margin-top: 0px;
    margin-bottom: 50px;
}
.updater-content .MuiLinearProgress-root	{
    height: 15px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--bg-bar-theme);
}
.updater-content .MuiLinearProgress-bar	{
    border-radius: 5px;
    background-color: #56B5FC;
}
.update-link {
    color: #0B6EE7;
}
.update-link:hover {
    text-decoration: underline #0B6EE7;
    cursor: pointer;
}