.add-password-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  
  .add-password-box {
    margin:  auto;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    position: relative;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: scroll;
    transition: all 0.2s ease-in-out;
  }

  .add-password-box h2 {
    text-align: center;
    margin-top: 25px;
    color: #1E1E1E;
  }
  .add-password-box .close {
      outline: none;
      background: transparent;
      border: none;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: all 200ms;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: #1E1E1E;
  }
  .add-password-box .close:hover {
    cursor: pointer;
  }
  .add-password-box .content {
    max-height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;

  }
  .add-password-box .content .fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add-password-box .content > .fields > .field{
    display: flex;
    flex-direction: column;
    border :1px rgba(236, 236, 236, 0.8) solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  "Open Sans", sans-serif;

    width: 350px;
    height: 35px;
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 5px;
  }
  .add-password-box .content > .fields > .field > input{
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-size: 17px;
    background: transparent;
    text-align: center;
  }

  .add-password-box .content > .fields > .field-name {
    margin-right: 10px;
    font-weight: 600;
    
  }

  .add-password-box .content .add-password-button {
    border: none;
    margin-top: 20px;
    outline: none;
    color: white;
    padding: 8px 15px 8px 15px;
    background-color: #54c2f0;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.5s;
  
  }
  .add-password-box .content .cancel-button {
    border: 1px solid #E1E1E1;
    margin-top: 20px;
    outline: none;
    color: #1E1E1E;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 50px;
    background-color: white;

    transition: background-color 0.5s;
  }
  .add-password-box .content .cancel-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
    cursor: pointer;
  }
  .add-password-box .content .add-password-button:hover {
    background-color: #54AAF0;
    transition: background-color 0.5s;
    cursor: pointer;
  }
  @media all and (max-width: 1053px){
    .box{
      width: 70%;
    }
    .add-password-box{
      width: 70%;
    }
  }
  @media all and (max-width: 524px) {
    .box{
      width: 95%;
    }
    .add-password-box{
      width: 95%;
    }
    .add-password-box .close {
      left: 0;
      top: 0;
    }
    .add-password-box .content > .fields > .field{
      width: 280px;
      height: 30px;
    }
    .add-password-box h2 {
      font-size: 20px;
    }

    
  }