#nav-logo {
    position: absolute;
    left: 15px;
    user-select: none;
    -webkit-user-drag: none;
}
.auth-login {
    display: flex;
    flex-direction: row-reverse;
    font-family:  "Open Sans", sans-serif;



}
.welcome-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(198,237,240,0.35);
    width: 55%;
}
.icon {
    user-select: none;
    -webkit-user-drag: none;
}
.welcome-login > .welcome {
    font-size: 30Px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.login-form > .email-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  "Open Sans", sans-serif;

    width: 300px;
    height: 35px;
    border: 1px grey solid;
    border-radius: 5px;
    
}
.login-form > .email-field > input[type="email"] {
    width: 250px;
    height: 35px;
    border:none;
    outline: none;
    font-size: 17px;
    

    background: transparent;
    text-align: center;
}
.login-form > .email-field > .field-icon {
    font-size: 30px;
    margin-left: 5px;
}
.login-form > .email-field:focus {
    border: solid 2px #54c2f0;
    outline: none;
}
body > #root > .auth-login > .welcome-login {
    height: 100vh;
  }