#nav-logo-login {
    position: absolute;
    left: 15px;
    user-select: none;
    -webkit-user-drag: none;
}
.auth-login {
    display: flex;
    flex-direction: row-reverse;
    font-family:  "Open Sans", sans-serif;
}
.welcome-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(198,237,240,0.35);
    width: 55%;
}
.icon {
    user-select: none;
    -webkit-user-drag: none;
}
.welcome-login > .welcome {
    font-size: 30Px;
}
.welcome-login > .signup-btn {
        cursor: pointer;
        border: 2px #54c2f0 solid;
        border-radius: 5px;
        background-color: white;
        color:#54c2f0;
        font-family: "Open sans",sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding: 10px ;
        transition: background 0.5s;
        transition: color 0.5s;
        width: 250px;
        text-decoration: none;
}
.welcome-login > .signup-btn:hover {
    background-color: rgba(223,223,223,0.5);
    transition: background 0.5s;
    transition: color 0.5s;
}
.login-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 45%;
}
.login-form > #nav-logo-login-responsive {
    display: none;
}
.login-form > h2 {
    margin-bottom: 50px;
}

.login-form > .field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  "Open Sans", sans-serif;

    width: 300px;
    height: 35px;
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 5px;
    
}
.login-form > .field > #email-input {
    margin-right: 25px;
}
.login-form > .field > input {
    width: 100%;
    height: 35px;
    border:none;
    outline: none;
    font-size: 17px;
    background: transparent;
    text-align: center;
}
.login-form > .forgot-password, .login-form > .no-account {
    color: black;
    text-decoration: none;
}
.login-form > .no-account {
    display: none;
    margin-top: 15px;
}
.login-form > .forgot-password:hover, .login-form > .no-account:hover {
    text-decoration: underline black;
}
.login-form > .login-btn {
    cursor: pointer;
    font-family:  "Open Sans", sans-serif;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #54c2f0;
    color:white;
    font-family: "Open sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px ;
    transition: all 0.5s;
    width: 250px;
}
.login-form > .login-btn:hover {
    background-color: #4CB1DC;
    transition: all 0.5s;
}
.field-icon {
    margin-left: 10px;
}

body > #root > .auth-login > .welcome-login {
    height: 100vh;
  }

  @media all and (max-width: 1080px) {
    .welcome-login {
        display: none;
    }

    .auth-login { 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav-logo-login {
        display: none;
    }
    .login-form > #nav-logo-login-responsive {
        display: inline;
    }
    .login-form > .no-account {
        display: inline;
    }

  }
  @media all and (max-width: 370px) {
    .login-form > .forgot-password, .login-form > .no-account {
        font-size: 13px;
    }
    .login-form > h2 {
        font-size: 19px;

    }
    .login-form > .field > input, .login-form > .field {
        width: 240px;
    }
    .login-form > .field > .show-password-btn  {
        display: none;
    }
    .login-form > .login-btn {
        width: 230px;
    }

  }
  