.sec {
    display: inline-block;
    position: relative;
  }
  .sec:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .sec:hover:after {
    width: 100%;
    background: black;
  }